h1 {
   /* font-family: 'RanchersRegular';
   font-weight: normal;
   font-style: normal; */

   color: #d04764;
    font-family: 'Lobster', cursive;
     font-size: 36px;
      font-weight: normal;
       line-height: 48px;
        /* margin: 0 0 18px; */
         /* text-shadow: 1px 0 0 #fff; */
         text-shadow: 0 0 3px #FF0000;


   text-align: center;
   margin-bottom: 12px;
   margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
   padding-top: 26px;
   /* font-size: 35px; */
}
.color1{

     color: #F7C548;
      font-family: 'Lobster', cursive;
       font-size: 36px;
        font-weight: bolder;
         line-height: 48px;
          /* margin: 0 0 18px; */
           text-shadow: 1px 0 0 #fff;

}

.color2{

     color: #EEEBD3;
      font-family: 'Lobster', cursive;
       font-size: 36px;
        font-weight: bolder;
         line-height: 48px;
          /* margin: 0 0 18px; */
           text-shadow: 1px 0 0 #fff;
}

.bluee_bg{
  /* color: white; */
  background-color: #437C90;
  height: 121px;
  padding: 0;
  margin-left: 0px;
  margin-right: -28px;
  max-width: 340px;
  max-height: 750px;
}

a{
  margin-left: 5px;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  font-size: 24px;
}
